.button_auth_navbar {
  background: #ffffffb7;
  display: flex;
  width: 228px;
  height: 40px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #50065f8c;
  border: none;
  box-shadow: 0 0.3em 1em -0.5em #821af098 !important;
}
.buttonAgree {
  display: flex;
  width: 185px;
  height: 35px;
  /* padding: 16px 24px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #090909;
  border-radius: 10px;
  background: rgba(253, 214, 12, 1);
  border: 0;
}
@media only screen and (max-width: 601px) {
  .buttonAgree {
    display: flex;
    width: 178px !important;
    height: 40px !important;
    /* padding: 16px 24px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #090909 !important;
    border-radius: 10px;
    background: var(--Yellow-main, #fdd60c);
    border: 0;
  }
  .button {
    display: flex;
    width: 178px !important;
    height: 40px !important;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #fff;
    border: 0;
  }
}
/* .navbar-button {
  color: var(--Gray-1, #e3dddd);
  text-align: right;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */
.button1 {
  background: none;
  display: flex;
  width: 228px;
  height: 40px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #50065f8c;
  border: none;
  box-shadow: 0 0.3em 1em -0.5em #821af098 !important;
}
.navbar-button1 {
  color: var(--Gray-6, #f2f2f2);

  font-family: Montserrat-Bold !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a714a298 !important;
  cursor: pointer;
}
.buttonAgree:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a714a298 !important;
  cursor: pointer;
}
.button1:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a714a298 !important;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #821af098 !important;
}
